
* {
    -fx-font-family: "Courier New";
}

label {
    -fx-font-size: 20px;
}

.title {
    -fx-font-size: 30px;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 2px 0;
}

#welcomeLabel {
    -fx-font-size: 15px;
}

.formLabel {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

button {
    -fx-min-height: 25px;
    -fx-pref-width: 70px;
}