* {
    -fx-font-family: "Courier New";
}

.userPortal {
    -fx-pref-height: 500px;
    -fx-pref-width: 700px;
}

.userNavBar {
    -fx-pref-height: 20%;
    -fx-pref-width: 200px;
    -fx-alignment: center;
}

.userNavBarInfo {
	-fx-background-color:
       -fx-shadow-highlight-color, 
       -fx-outer-border, 
       -fx-inner-border, 
       -fx-body-color;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
}

.portalButtonHBox {
	-fx-alignment: center;
	-fx-spacing: 5px;
}

.button {
	-fx-wrap-text: "true";
	-fx-text-alignment: center;
}